# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data & outputs
data/*.parquet
data/*.feather
data/*.jsonl
data/*.tmp
outputs/*.parquet
outputs/*.joblib
outputs/*.pt
outputs/*.png
outputs/*.csv
outputs/*.md

# Spark temp
derby.log
metastore_db/
spark-warehouse/
.tmp/

# OS
.DS_Store
Thumbs.db
